<%- include('../cabecalho.ejs') %>
<form method="post">
    Nome<br> 
    <input type="text" name="nome" placeholder="Digite o nome da marca">
    <br><br>
    Tamanho<br> 
    <input type="number" name="tamanho" placeholder="Digite o tamanho">
    <br><br>
    Cor<br>
    <input type="text" name="cor" placeholder="Digite a cor">
    <br><br>
    Código<br> 
    <input type="number" name="codigo" placeholder="Digite o codigo do produto">
    <br><br>
    <input type="submit" value="Adicionar">
</form>
<%- include('../rodape.ejs') %>